<%= render 'shared/navigation' %>
<header class="text-center pt-5 mt-5">
  <h1 class="display-6 fw-bolder">ログイン</h1>
</header>
<div class="container px-4 px-lg-5 w-75 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render 'shared/flash' %>
    <div class="form-group my-3">
      <%= f.label :email, class: "mb-2 block text-sm text-gray-600" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
    </div>
    <div class="form-group my-3">
      <%= f.label :password, class: "mb-2 block text-sm text-gray-600" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
    </div>
    </div>
     <div class="actions text-center my-3">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
